In [1]:
import pandas as pd
import numpy as np

In [2]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [6]:
def my_function(*args):
    print("Type:", type(args))
    print("First Argument:", args[0])
    print("Second Argument:", args[1])
    print("All arguments:", args)
my_function("Emil", "Tobais", "Linus")

Type: <class 'tuple'>
First Argument: Emil
Second Argument: Tobais
All arguments: ('Emil', 'Tobais', 'Linus')

In [7]:
def my_function(greeting, *names):
    for name in names:
        print(greeting, name)
my_function("Hello", "Emil", "Tobias", "Linus")

Hello Emil
Hello Tobias
Hello Linus

In [9]:
def my_function(greeting, *names):
    for name in names:
        print(greeting, name)
my_function("A", "B", "C", "D")

A B
A C
A D

In [13]:
def my_function(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(my_function(1, 2, 3,))
print(my_function(10,20,30))
print(my_function(5))

6
60
5

In [14]:
def my_function(*numbers):
    if len(numbers) == 0:
        return None
    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num
print(my_function(3,7,2,9,1))

9

In [22]:
numbers =list((3,7,2,9,1))

In [23]:
numbers

[3, 7, 2, 9, 1]

In [24]:
max_num = numbers[0]

In [25]:
max_num

3

In [28]:
def my_function(**kid):
    print("His last name is" + kid["lname"])
my_function(fname = "Tobias", lname = " res")

His last name is res

In [29]:
def my_function(**myvar):
    print("Type:", type(myvar))
    print("Name:", myvar["name"])
    print("Age:", myvar["age"])
    print("All data:", myvar)
my_function(name= "Tobias", age = 30, city = "Bergen")

Type: <class 'dict'>
Name: Tobias
Age: 30
All data: {'name': 'Tobias', 'age': 30, 'city': 'Bergen'}

In [31]:
def my_function(username, **details):
    print("Username:", username)
    print("Additional details:")
    for key, value in details.items():
        print(" ", key + ":", value)
my_function("emil123", age=25, city="oslo", hobby = "coding")

Username: emil123
Additional details:
  age: 25
  city: oslo
  hobby: coding

In [33]:
def my_function(title, *args, **kwargs):
    print("Title:", title)
    print("Positional arguments:", args)
    print("Keywords arguments:", kwargs)
my_function("User Info", "Emil", "Tobias", age = 25, city = "Oslo")

Title: User Info
Positional arguments: ('Emil', 'Tobias')
Keywords arguments: {'age': 25, 'city': 'Oslo'}

In [34]:
def my_function(a, b, c):
    return a + b + c

In [35]:
numbers = [1, 2, 3]
result = my_function(*numbers)

In [36]:
result

6

In [39]:
def my_function(fname, lname):
    print("Hello", fname, lname)
person = {"fname" : "Emil", "lname" : "res"}

In [40]:
my_function(**person)

Hello Emil res

In [41]:
def myfunc():
    x = 300
    print(x)

In [42]:
myfunc()

300

In [46]:
def myfunc():
    x = 300
    def myinnerfunc():
        print(x)
    myinnerfunc()

myfunc()

300

In [47]:
def changecase(n):
    def changecase(func):
        def myinner():
            if n == 1:
                a = func().lower()
            else:
                a = func().upper()
            return a
        return myinner
    return changecase

@changecase(1)
def myfunction():
    return "Hello Linus"
print(myfunction())

hello linus

In [48]:
def changecase(func):
    def myinner():
        return func().upper()
    return myinner

def addgreeting(func):
    def myinner():
        return "Hello " + func() + " Have a good day!"
    return myinner

@changecase
@addgreeting
def myfunction():
    return "Tobias"
print(myfunction())

HELLO TOBIAS HAVE A GOOD DAY!

In [50]:
def myfunction():
    return "Have a great day!"

print(myfunction.___name__)

AttributeError: 'function' object has no attribute '___name__'