In [34]:
import pandas as pd
import numpy as np

In [2]:
number = 7

if number % 2 ==0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

In [3]:
temp = 22
if temp > 30:
    print("It's hot outside")
elif temp > 20:
    print("It's warm outside")
elif temp > 10:
    print("It's cool outside")
else:
    print("It's cold outside")

It's warm outside

In [4]:
username = "Emil"
if len(username) > 0:
    print(f"welcome, {username}!")
else:
    print("Error:Username cannot be empty")

welcome, Emil!

In [5]:
a = 5
b = 2
if a > b: print("a is greater than b")

a is greater than b

In [6]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [7]:
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

Bigger is 20

In [8]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [10]:
x = 15
y = 20
max_value = x if x > y else y
print("Maximum Value:", max_value)

Maximum Value: 20

In [11]:
username = ""
display_name = username if username else "Guest"
print("Welcome,", display_name)

Welcome, Guest

In [12]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [14]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [15]:
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

In [16]:
age = 25
is_student = False
has_discount_code = True
if (age < 18 or age < 65) and not is_student or has_discount_code:
    print("Discount applies!")

Discount applies!

In [18]:
temp = 25
is_raining = False
is_weekend = True

if (temp > 20 and not is_raining) or is_weekend:
    print("Great day for outdoor activities!")

Great day for outdoor activities!

In [19]:
username = "Tobias"
password = "secret123"
is_verified = True

if username and password and is_verified:
    print("Login successful")
else:
    print("Login failed")

Login successful

In [20]:
score = 85
if score >= 0 and score <= 100:
    print("Valid score")
else:
    print("Invalid score")

Valid score

In [21]:
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [22]:
age = 25
has_license = True
if age >= 18:
    if has_license:
        print("You can drive")
    else:
        print("You need a license")
else:
    print("you are too young to drive")

You can drive

In [23]:
score = 85
attendance = 90
submitted = True

if score >= 60:
    if attendance >= 80:
        if submitted:
            print("Pass with good standing")
        else:
            print("Pass but missing assignment")
    else:
        print("Pass but low attendance")
else:
    print("Fail")

Pass with good standing

In [24]:
temp = 25
is_sunny = True

if temp > 20:
    if is_sunny:
        print("Perfect beach weather!")

Perfect beach weather!

In [26]:
a = 33
b = 200

if b > a:
    pass

In [27]:
age = 16

if age < 18:
    pass
else:
    print("Access granted")

In [29]:
value = 50

if value < 0:
    print("Negative value")
elif value == 0:
    pass
else:
    print("Positive value")

Positive value

In [32]:
day = 4
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")

SyntaxError: invalid syntax (1330322826.py, line 3)

In [35]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

SyntaxError: invalid syntax (2221517983.py, line 2)

In [38]:
i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [40]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [44]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [46]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("I is no longer less than 6")

1
2
3
4
5
I is no longer less than 6

In [47]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [48]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [50]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [51]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [52]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [53]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [54]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [55]:
for x in range(6):
    print(x)
else:
    print("finally finished")

0
1
2
3
4
5
finally finished

In [56]:
for x in range(6):
    if x ==3: break
    print(x)
else:
    print("finally finsihed")

0
1
2

In [57]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [58]:
for x in [0, 1, 2]:
    pass

In [59]:
def greet():
    print("hello")

In [60]:
greet()

hello

In [61]:
def my_function():
    print("hello")

In [62]:
my_function()

hello

In [63]:
def my_function():
  print("Hello from a function")

In [64]:
my_function()
my_function()
my_function()

Hello from a function
Hello from a function
Hello from a function

In [65]:
def my_function(fname):
    print(fname + " Resfsnes")

In [66]:
my_function("emial")
my_function("tobias")
my_function("linus")

emial Resfsnes
tobias Resfsnes
linus Resfsnes

In [67]:
def my_function(name):
    print("Hello", name)

In [69]:
my_function("Emil")

Hello Emil

In [71]:
def my_function (fname, lname):
    print(fname + " " + lname)
my_function("emil", "Refsnes")

emil Refsnes

In [72]:
def my_function(name = "friend"):
    print("Hello", name)

In [74]:
my_function("Emil")
my_function("tobias")
my_function()
my_function("linus")

Hello Emil
Hello tobias
Hello friend
Hello linus

In [75]:
def my_function(country = "Norway"):
    print("I am from", country)

In [76]:
my_function("Sweden")

I am from Sweden

In [77]:
my_function("India")
my_function()
my_function("Brazil")

I am from India
I am from Norway
I am from Brazil

In [78]:
def my_function(animal, name):
    print("I have a ", animal)
    print("My", animal + "'s name is", name)

In [79]:
my_function(animal = "dog", name = "buddy")

I have a  dog
My dog's name is buddy

In [80]:
def my_function(animal, name):
    print("I ahve a", animal)
    print("My", animal + "'s name is", name)

In [81]:
my_function("dog", "buddy")

I ahve a dog
My dog's name is buddy

In [84]:
def my_function(animal, name):
    print("I have a", animal)
    print("My", animal + "'s name is", name)

In [85]:
my_function("buddy", "dog")

I have a buddy
My buddy's name is dog

In [87]:
def my_function(animal, name, age):
    print("I have a", age, "year old", animal, "named", name)
my_function("dog","buddy", age = 5)

I have a 5 year old dog named buddy

In [88]:
def my_function(fruits):
    for fruit in fruits:
        print(fruit)

my_fruits = ["apple", "banana", "cherry"]
my_function(my_fruits)

apple
banana
cherry

In [90]:
def my_function(person):
    print("Name:", person["name"])
    print("Age:", person["Age"])

my_person = {"name": "Emil", "Age": 25}
my_function(my_person)

Name: Emil
Age: 25

In [91]:
def my_function(x, y):
    return x + y

In [92]:
result = my_function(5, 3)
print(result)

8

In [93]:
def my_function():
    return ["apple", "banana", "cherry"]

fruits = my_function()
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [94]:
fruits

['apple', 'banana', 'cherry']

In [95]:
def my_function():
    return (10, 20)
x, y = my_function()
print("x:", x)
print("y:", y)

x: 10
y: 20

In [98]:
def my_function(name, /):
    print("Hello", name)
my_function("Emil")

Hello Emil

In [99]:
def my_function(name):
    print("Hello", name)

my_function(name = "Emil")

Hello Emil

In [100]:
def my_function(*, name):
    print("Hello", name)
my_function(name = "emil")

Hello emil

In [101]:
def my_function(a, b, /, *, c, d):
  return a + b + c + d

In [102]:
result = my_function(5, 10, c = 15, d = 20)
print(result)

50